---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: We use Justice Law in all our endeavours. They offer an unparalleled service when it comes to running a business.
    image: "https://placekitten.com/g/60/60?a=.png"
    name: Joice Carmold
  - message: Justice Law are the best of the best. Being local, they care about people and have strong ties to the community.
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Peter Rottenburg
  - message: Justice Law were everything we could have hoped for when buying our first home. Highly recommended to all.
    image: "https://placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>Hi, I'm the Get Sh*t Done Mom!  I help busy moms learn to Get Sh*t Done in their lives though everyday tangible productivity tips and tricks that will be sure to help you get that sh*t done.</p>

	<p>I ’m Brianne MacKenzie. I am a mom of 4 little kids, teacher of students with diverse needs and mom productivity coach. </p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
