<div class="staff-details">
	<div class="staff-image">
		<img src="{% include relative-src.html src=include.member.image %}" alt="Staff photo for {{ include.member.name }}" width="120" height="120">
	</div>
	<ul class="staff-info">
		<li>{{ include.member.name }}</li>
		<li><small>{{ include.member.credentials }}</small></li>
		<li><a href="tel:{{ site.data.company.phone }}">{{ site.data.company.phone }}</a>  ext {{ include.member.phone_extension }}</p></li>
	</ul>
</div>

<div class="staff-bio">
	<p>{{ include.member.content | markdownify }}</p>
</div>