---
layout: default
call_to_action: Contact
background_image_path:
---

{% if page.title %}
	<div class="page-header">
		<h2>{{ page.title }} Blog</h2>
	</div>
{% endif %}

<article class="content">
	<p class="editable">You're currently looking at posts categorised under <strong>{{ page.title }}</strong>. <a href="{{ site.baseurl }}/blog/">View all posts</a> instead.</p>

	<ol class="post-list">
		{% for post in page.posts %}
			{% include post-summary.html post=post %}
		{% endfor %}
	</ol>
</article>
